.profile__info {
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
  }
}
