.cards__button-like {
  width: 22px;
  height: 19px;
  background-image: url("../../../images/like.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-self: center;
  justify-content: space-between;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cards__button-like:hover {
  transform: scale(1.1);
}
