.photo-grid__button-like_active {
  width: 22px;
  height: 19px;
  background-image: url('../../../../images/like-active.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-self: center;
  justify-content: space-between;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
  }
