.profile__button-add {
  width: 150px;
  height: 50px;
  background-image: url("../../../images/add.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 22px 22px;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 0;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .profile__button-add {
    width: 282px;
    background-size: 16px 16px;
  }
}
