.cards__button-delete {
  width: 18px;
  height: 19px;
  background-image: url("../../../images/delete.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cards__button-delete:hover {
  opacity: 0.6;
}
