.photo-grid__button-cart {
  width: 18px;
  height: 19px;
  background-image: url('../../../images/cart.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;

  }

  .photo-grid__button-cart:hover {
    opacity: .6;
  }
