.profile__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 30px;
  margin-right: auto;
}

@media screen and (max-width: 620px) {
  .profile__description {
    gap: 14px;
    margin: 26px auto 36px auto;
  }
}
