.profile__description {
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 16px 0 auto 30px;
}

@media screen and (max-width: 620px) {
  .profile__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    margin: 14px auto 0 auto;
  }
}
