.popup__button-close {
  width: 32px;
  height: 32px;
  background-image: url('../../../images/close.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: 50%;
  display: flex;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  outline: none;
  transition: .3s ease-in-out;
  cursor: pointer;
  padding: 0;
}

.popup__button-close:hover {
  opacity: .5;
}

@media screen and (max-width: 620px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}
