.profile__name-box {
  display: flex;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width: 620px) {
  .profile__name-box  {
    gap: 10px;
    justify-content: center;
    margin-left: 25px;
  }
}
