@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__name-box/profile__name-box.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__button-submit/popup__button-submit.css);
@import url(./blocks/popup/__button-submit/_disable/popup__button-submit_disable.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__error/_active/popup__error_active.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_active/popup__error_active.css);
@import url(./blocks/popup/__overlay/popup__overlay.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__overlay/popup__overlay.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__image-box/popup__image-box.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-zoom/popup__image-zoom.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__placeholder/popup__placeholder.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/photo-grid/__list/photo-grid__list.css);
@import url(./blocks/photo-grid/__item/photo-grid__item.css);
@import url(./blocks/photo-grid/__image/photo-grid__image.css);
@import url(./blocks/photo-grid/__description/photo-grid__description.css);
@import url(./blocks/photo-grid/__title/photo-grid__title.css);
@import url(./blocks/photo-grid/__button-cart/photo-grid__button-cart.css);
@import url(./blocks/photo-grid/__button-like/photo-grid__button-like.css);
@import url(./blocks/photo-grid/__button-like/_active/photo-grid__button-like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
