.loading__icon-list {
  width: 64px;
  height: 64px;
  position: relative;
  margin: auto;
}

.loading__icon-list .loading__icon-item {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 5px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
  margin: 8px;
}

.loading__icon-list:nth-child(1) {
  animation-delay: -0.45s;
}

.loading__icon-list:nth-child(2) {
  animation-delay: -0.3s;
}

.loading__icon-list:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
